<!-- templates/home.html -->
{% extends 'basea.html' %}

{% block title %}
    <h1>ホーム</h1>
{% endblock %}

{% block content %}
{% load static %}
<div style="text-align: center;">
    <img src="{% static 'images/169023_0.jpg' %}" alt="Example Image" class="image-class">
    <form action="cleaningappointment.html" method="get">
        <button type="submit">予約</button>
    </form>
    <form action="userreservationlistscreen.html" method="get">
        <button type="submit">予約一覧</button>
    </form>
</div>
{% endblock %}
