<!-- templates/home.html -->
{% extends 'basea.html' %}

<!-- 予約一覧画面 -->
{% block title %}
    <h1>予約一覧</h1>
{% endblock %}

{% block content %}
{% load static %}
<div style="text-align: center;">
    <ul>
        <!-- それぞれの予約詳細画面に遷移する -->
        <li>
            <a href="{% url 'userreservationdetails' %}">
                清掃日時: 2024年10月25日 10:00 | 清掃場所: 会議室A
            </a>
        </li>
        <li>
            <a href="details2.html">
                清掃日時: 2024年10月26日 14:00 | 清掃場所: 廊下B
            </a>
        </li>
        <li>
            <a href="details3.html">
                清掃日時: 2024年10月27日 16:00 | 清掃場所: ロビーC
            </a>
        </li>
    </ul>
    <!-- ログイン前ホーム画面に遷移するボタン -->
    <form action="{% url 'mainmenu' %}" method="post">
        {% csrf_token %}
        <button type="submit">戻る</button>
    </form>
</div>

{% endblock %}
