body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* 背景色を白に設定 */
    color: #000; /* 文字色を黒に設定 */
    min-height: 100vh; /* コンテンツが少ない場合でもフッターを下に配置する */
    display: flex;
    flex-direction: column;
}
 
/* ヘッダーのスタイル */
header {
    background-color: #fff; /* ヘッダーの背景色を白に設定 */
    color: #000; /* 文字色を黒に設定 */
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0; /* 境界線を追加して区切りを明確に */
}
 
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header h1 {
    margin: 0;
    font-size: 24px;
}
 
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
 
header nav ul li {
    margin-left: 20px;
}
 
header nav ul li a {
    color: #000; /* リンクの文字色を黒に設定 */
    text-decoration: none;
    font-weight: bold;
}
 
/* メインコンテンツのスタイル */
main {
    flex: 1; /* コンテンツが少ない場合でもフッターを下に配置する */
}
 
/* フッターのスタイル */
footer {
    background-color: #fff; /* フッターの背景色を白に設定 */
    color: #000; /* 文字色を黒に設定 */
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e0e0e0; /* 境界線を追加して区切りを明確に */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.image-class {
    width: 650px; /* 幅を指定 */
    height: auto; /* アスペクト比を保つ */
}
